<h1>My Lists</h1><%= link_to "+ Add Task List", new_path %> <br>




<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <h1><%= task_list.name %> <%= link_to "Edit", "#{task_list.id}/edit"%> <%= link_to "+ New Task", "/tasks/new"%></h1>

  </section>

<% end %>
